@import "./variables";

.navbarBack {
  background: $nav-bg-1;
  background: $nav-bg-2;
  // max-height: 7vh;
}

.textFont {
  font-family: "Lato";
  font-weight: 500;
  font-size: 20px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: $text-color;
  border-bottom: 5px solid #1ba94c;
}

#profileDrop {
  color: $text-color;
  font-weight: 400;
  border: 0;
}
